ion-tabs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  pointer-events: auto;
}

ion-router-outlet {
  flex: 1;
  position: relative;
  z-index: 1;
  height: 100%;
  overflow-y: auto;
  pointer-events: auto;
}

ion-tab-bar {
  z-index: 10;
}

ion-icon {
  font-size: 27px;
  margin-top: 0;
}

ion-label {
  font-size: 13px;
}
