<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="create" routerLink="create" routerDirection="root">
      <ion-icon name="mic-outline"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notes" routerLink="notes" routerDirection="root">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>
    <ion-tab-button
      tab="settings"
      routerLink="settings"
      routerDirection="root"
    >
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
